{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Upload</title>
    {{form.media}}
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">InstaGlam</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                
                <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                {% if user.is_authenticated%}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Search<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Search Image</a></li>
                        <li><a href="#">Search User</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'explore' %}">Explore</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="{% url 'profile' %}">View profile</a></li>
                        <li><a href="{% url 'addprofile' %}">Update Profile</a></li>
                        <li><a href="{% url 'upload' %}">Upload Image</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="{%url 'signup'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                {% endif %}
            </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <h1>More About You</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save"/>
        </form>
    </div>
</body>
</html>