{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card" style="background-color: #FAFAFA;border: 1px solid #ccc;height: 300px;padding: 20px; text-align: center;">
        <div class="card-header">
            <h1 style="text-decoration: underline;">About InstaGlam</h1>
        </div>
        <div class="card-body">
            <h4>
                Welcome to InstaGlam. Sign up for a free account. View and Upload pictures, create your profile, search and comment on posts.
            </h4>
            <h4>Enjoy!</h4>
        </div>
    </div>
</div>




{% endblock %}