{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
           <div class="col-md-8">
               {% for image in images %}
               <div class="panel panel-default">
                    <div class="panel-header" style="padding: 20px;">
                        <h4>{{image.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{% url 'imagedetail' image_id=image.id  %}">
                            <img src="{{image.image.cdn_url}}" style="width: 600px;height: 600px;" class="img-responsive" alt="picz"><br>
                            <h3>{{image.caption}}</h3>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <p>
                            <span><i class="fas fa-heart"></i></span> {{image.likes}}
                            <span><i class="fas fa-comment"></i></span> {{image.usercomments.count}}
                        </p>
                        <p>Uploaded: {{image.upload_date}}</p>
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-primary"><a href="{%url 'addcomment' image_id=image.id%}" style="color: white;">Add A Comment</a></button>
                            </div>
                        </div>
                    </div>
               </div>
               {% endfor %}
           </div>
    </div>
</div>
{% endblock %}