{% extends 'base.html'%}
{% load static %}

{% block content %}

    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'images/iglogo.png' %}" style="width: 200px; height: 200px;" class="img-responsive" alt="logo">
                </div>
                <div class="col-md-6">
                    <div class="card" style="height: 250px;">
                        <div class="card-body" style="height: 250px;">
                            <div class="headline">
                                <h1 class="logo">InstaGlam</h1>
                                <div>
                                    <i class="fab fa-instagram"></i>
                                    <i class="far fa-compass"></i>
                                    <i class="far fa-user"></i>
                                    <i class="far fa-heart"></i>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                  
                
            </div>
        </div>

    </div>
   

{% endblock %}