{% extends 'base.html' %}

{% block content %}

{% if profile %}
<div class="container">
    <div class="panel panel-default" style="border: 1px solid #ccc;">
        <div class="panel-header" style="padding: 20px; background-color: #FAFAFA;border-bottom: 1px solid #ccc; text-align: center;"> 
            <h3>{{user.username}}</h3>
        </div>
        <div class="panel-body" style="padding: 20px;">
            <img src="{{profile.photo.cdn_url}}"  style="width: 300px; height: 300px;" alt="profilepicture">
            <h4>{{profile.bio}}</h4>
        </div>
    </div>
{% else %}
<div class="container">
    <h2>Hello {{user.username}}</h2>
    <h2>You have no profile to display.Please <span><a href="{% url 'addprofile' %}">add a profile</a></span></h2>
</div>
{% endif %}
    
    <div class="row">
        <div class="col-md-6">
            {% if images%}
                {% for image in images%}
                    <div class="card" style="border: 1px solid #ccc; margin: 20px;">
                        <div class="card-header" style="background-color: #FAFAFA;border-bottom: 1px solid #cccccc; padding: 20px;">
                            <h3>{{user.username}}</h3>
                        </div>
                        <div class="card-body" style="padding: 20px;">
                            <a href="{% url 'imagedetail' image_id=image.id %}">
                                <h3>{{image.name}}</h3><br>
                                <img src="{{image.image.cdn_url}}" style="width:400px;height: 400px;" class="img-responsive" alt="pic"><br>
                                <h4>{{image.caption}}</h4>
                            </a>
                        </div>
                        <div class="card-footer" style="background-color: #FAFAFA; border-top: 1px solid #ccc; padding: 20px;">
                            <p>
                                <span><i class="fas fa-heart"></i></span> {{image.likes}}
                                <span><i class="fas fa-comment"></i></span> {{image.usercomments.count}}
                            </p>
                            <p>Uploaded: {{image.upload_date}}</p>
                        </div>
                    </div>

                {% endfor %}
            {% else%}
                <h3>You have not uploaded any images. <span><a href="{% url 'upload' %}">Add an image</a></span> </h3>
            {% endif %}


        </div>
        
    </div>
</div>


{% endblock %}